.title_card {
    color: rgb(31, 31, 32);
  }
  
  /* Estilos para el menú de navegación */
  .navbar {
    width: 100%;
  }
  
  /* Estilos para el sidebar */
  #sidebar-wrapper {
    width: 300px; /* Ancho ajustado */
  }
  
  /* Contenedor para el contenido y tarjetas */
  .container {
    margin-left: 40px;
    margin-right: 40px; /* Ajuste de margen según el ancho de tu sidebar */
    flex: 1; /* Asegura que el contenedor ocupe el espacio restante */
  }
  
  /* Ajustes para que las tarjetas se vean bien en diferentes tamaños de pantalla */
  @media (max-width: 768px) {
    .container {
        margin-left: 0;
    }
  }
  
  /* Contenedor para la disposición de flexbox */
  .d-flex {
    display: flex;
    gap: 20px; /* Espacio entre las tarjetas */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten automáticamente en pantallas pequeñas */
    justify-content: center;
  }
  
  /* Asegura que el contenido se centre en la pantalla */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  /* Centra el contenido principal */
  .main-content {
    flex: 1;
    display: flex;
  }
  
  .card-text{
    width: auto;
    height: 60px;
  }

  /* Tarjeta */
.card {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  justify-content: space-between; /* Asegura que el footer esté al fondo */
  height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

/* Imagen en la tarjeta */
.card img {
  max-height: 150px; /* Ajusta el tamaño máximo de la imagen */
  object-fit: contain; /* Evita deformaciones */
}

/* Contenido de la tarjeta */
.card-body {
  flex-grow: 1; /* Permite que el contenido ocupe el espacio necesario */
  text-align: center;
}

/* Footer con el botón */
.card-footer {
  text-align: center;
  margin-top: auto; /* Empuja el footer al fondo */
}

    

  